html, body {
  margin: 0;
  height: 100%;        /* iframe からもらった高さを受け取る */
}

aside {
  height: 100%;        /* 縦メニューを最大に伸ばす */
  box-sizing: border-box;
  background: #171717;     /* 背景は自由に変えてOK */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
}
