html, body {
  margin: 0;
  height: 100%;
  background-color: #212121;
}

p {
    color: white;
    text-decoration: none;
}

.content-area {
  display: flex;
  height: 100vh;  /* 画面の高さいっぱい */
  overflow: hidden;
}

.menu-frame {
  width: 220px;
  height: 100vh;  /* ここがポイント */
  border: none;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .menu-frame {
    display: none;  /* 画面幅が600px以下の場合は非表示 */
  }
}

.main-content {
  flex: 1;
  overflow-y: auto;  /* コンテンツが長いときはスクロール */
  display: flexbox;
}

.smartphone_header {
  height: 50px;
  width: 100%;
  background-color: #111111;
  color: white;
  flex-shrink: 0;
}
@media (min-width: 601px) {
  .smartphone_header {
    display: none;  /* 画面幅が601px以上の場合は非表示 */
  }
}

.common_header {
  height: 100px;
  background-color: #171717;
  color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.smartphone_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
@media (min-width: 601px) {
  .smartphone_buttons {
    display: none;  /* 画面幅が601px以上の場合は非表示 */
  }
}

.smartphone_button {
  background-color: #333333;
  color: white;
  padding: 10px 15px;
  text-decoration: non
}

h1 {
  margin-left: 10px;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
}

.home, .onair, .gap{
    font-size: 15px;
    margin-left: 15px;
}

h2, h3 {
    color: white;
    margin-left: 20px;
}

h3 {
    color: white;
    margin-left: 20px;
    font-size: 22.5px;
}

.live {
    border: 2px solid #ff0000;
    margin: 20px;
    float: left;
}

.thumbnail {
    margin: 10px;
}

.btn-flat-simple1 {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ffffff;
  background: #ff0000;
  transition: .4s;
  font-size: 15px;
  border-radius: 10px;
}

.btn-flat-simple1:hover {
  background: #fd7e00;
  color: #ffffff;
}

.program_text {
  color: white;
}

.program {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

.to {
  clear: both;
  margin-left: 20px;
  margin-top: 400px;
}


.btn-flat-simple2 {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ffffff;
  background: #0000ff;
  transition: .4s;
  font-size: 20px;
  border-radius: 10px;
}

.btn-flat-simple2:hover {
  background: #21a0db;
  color: #ffffff;
}

.btn-flat-simple3 {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ffffff;
  background: #008000;
  transition: .4s;
  font-size: 20px;
  border-radius: 10px;
}

.btn-flat-simple3:hover {
  background: #40ba8d;
  color: #ffffff;
}

.whats {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 30px;
}

.whatstext {
  color: white;
  margin-left: 15px;
  font-size: 15px;
}