/* 基本設定 */
body {
    margin: 0;
    width: 100px;
}

html {
    width: 100vh;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 💡 ロゴとアイコンを中央に揃える */
    background: #111111;
    height: 50px;
    position: relative; /* z-indexが効くように */
    z-index: 100; /* iframe内での競合を避けるため、高めに設定 */
}

.instagram {
    margin-left: 20px;
}